<%= form_for(@album, html: { multipart: true }) do |f| %>
<div class="field">
	<%= f.text_area :title, placeholder: "Add title..." %>
</div>
<span class="picture">
	<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
</span>
	<%= f.submit "Create", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
	$('#album_picture').bind('change', function() {
		size_picture = this.files[0].size/1024/1024;
		if (size_picture > 5) {
			alert('Please choose a smaller file than 5MB.');
		}
	});
</script>