@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Hind:400,300);

$dark-grey: #303030; 
$light-grey: #E0E0E0;


body {
	padding-top: 60px;
	font-family: 'Hind', sans-serif;
	font-weight: 400;
}

a {
	color: $dark-grey; 
}

.container {
	padding: 0;
}

section {
	overflow: auto;
}

.center {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
line-height: 1;
text-align: center;
}

h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}

label {
	margin-top: 10px;
}

/* header */

.navbar-fixed-top {
	background: white;
}
#sign {
/*	background-color: red;*/
	float: left;
	margin-top: 3px;
	margin-left: 5px;
	margin-right: 30px;
	padding: 4px 15px 6px 15px;
	font-size: 2.0em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#sign:hover {
	background-color: #EEE;
	text-decoration: none; 
}

.navbar-nav {
	font-size: 1.5em;;
	font-weight: bold;
	margin: 3px;
	font-family: 'Montserrat', sans-serif;
	/*background: yellow;*/
}

.navbar-left {
	margin-left: 0px;
}

/* footer */

footer {
	border-top: 1px solid #C8C8C8;
	padding-top: 5px;
	margin-top: 50px; 
}

/* home */

.home_page {
	height: 500px;
	background-image: url('https://dl-web.dropbox.com/get/Public/bab.jpg?_subject_uid=394325576&w=AABKA4W6JbEuX_aqqJP05Wu6qwYh1-RbT_ZeRvg28TNh2Q');
	background-position: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

/* log in */

.btn-primary {
	margin-top: 15px;
	margin-bottom: 30px;
} 

/* albums */

.albums {
	list-style-type: none;	
	text-align: center;
	margin: 0px;
	padding-left: 0px;	
}
.album_box{
	.title_box {
		font-size: 1.7em;
		text-decoration: none;
		border-bottom: 1px solid $light-grey;
		padding-top: 50px;
	}
	img {
		border-radius: 5px;
	}
	a:hover{
		color: #23527C;
		text-decoration: none;
	} 
}

.delete_album {
	.btn-primary{
		width: 100%;
		color: #fff;
		font-size: 1.3em;		
	}
}

#album_title {
	width: 100%;
}

/* albums create Form*/

.album_form {
	margin-top: 75px;
	.title_field {
		font-size: 1.7em;
		border-bottom: 1px solid $light-grey;
		text-align: center;	
	}
	.btn-primary {
		width: 100%;
		font-size: 1.3em;
	}
	.field {
		margin-bottom: 10px;
	}
}
.picture  {
	margin-top: 5px;
	img {
		height: 24px;
		margin-right: 20px;
		padding-bottom: 5px;

	/*	border: 1px solid grey;*/
	}
	#picture_add { 
		display: inline-block;
		width: 100%;
		padding-left: 5px;
		padding-top: 2px;
		border: 1px solid #909090;
		border-radius: 2px;
		color: #909090;
	}
	.add_file[type="file"] {
		display: none;
	}
}

.work_delete {
	width: 100%;
	font-size: 1.3em;
}